* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
}

.dark {
  --background-color: rgb(80, 80, 80);
  --text-color: whitesmoke;
}

.light {
  --background-color: whitesmoke;
  --text-color: rgb(120, 120, 120);
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.75rem;
  background-color: rgb(80, 80, 80);
}

.main-menu-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: whitesmoke;
  background-color: rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.main-menu-logo {
  margin: 0;
  color: rgba(121, 191, 237, 0.5);
  animation: pulse 5s infinite;
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: bold;
  border-radius: 0.75rem;
}

.arrows {
  transform: translateY(-0.25rem);
}

@keyframes pulse {
  0%,
  100% {
    text-shadow: 0 0 20px rgba(121, 191, 237, 0.3);
    box-shadow: 0 0 50px rgba(121, 191, 237, 0.3);
  }
  30%,
  70% {
    text-shadow: 0 0 20px rgba(121, 191, 237, 1);
    box-shadow: 0 0 70px rgba(121, 191, 237, 1);
    color: rgba(121, 191, 237);
    filter: brightness(1.05);
  }
}

.main-menu-text {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.main-menu-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu-button-container button {
  border: none;
  width: 15rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(100, 100, 100);
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.main-menu-button-container button:active {
  filter: brightness(0.9);
  transform: scale(0.99);
}

.header {
  display: grid;
  width: 100%;
  grid-template: 1fr 1fr / 1fr 1fr;
  font-weight: bold;
  font-size: 1.25rem;
}

.blue {
  color: #79bfed;
  transition: 0.2s;
}

.round {
  justify-self: end;
}

.gear-icon {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin: 0;
  font-size: 1.5rem;
  z-index: 1000;
  color: whitesmoke;
  line-height: 0rem;
  justify-self: end;
  align-self: flex-start;
}

.round-info {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  justify-self: end;
}

.dice-container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 1rem;
}

.die {
  height: calc(100vw / 3);
  width: calc(100vw / 3);
  background-color: rgb(120, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  transition: 0.2s;
  perspective: 1;
  backface-visibility: hidden;
  cursor: pointer;
}

.hilo {
  background-color: rgb(100, 100, 100);
  background-color: whitesmoke;
  color: whitesmoke;
  color: rgb(100, 100, 100);
}

.locked {
  background-color: #79bfed;
  color: whitesmoke;
  color: rgb(100, 100, 100);
}

.hilo-locked {
  color: rgb(100, 100, 100);
  background-color: #79bfed;
}

.perm-locked {
  filter: opacity(0.5);
  transform: scale(0.9);
  box-shadow: none;
}

.button {
  border: none;
  background-color: white;
  background-color: rgb(120, 120, 120);
  color: rgb(120, 120, 120);
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  margin: 1rem;
  width: calc(100vw / 2.5);
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
  filter: brightness(0.95);
}

.button:disabled {
  filter: opacity(0.5);
  transition: 0.2s;
}

@media (min-width: 420px) {
  .dice-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .die {
    height: calc(100vw / 8);
    width: calc(100vw / 8);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.roll {
  animation: rotate 0.3s ease-in-out;
  will-change: transform;
}

@keyframes click {
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.click {
  animation: click 0.2s ease-in-out;
}

.settings {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: whitesmoke;
  background-color: rgb(80, 80, 80);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.75rem;
}

.settings-bottom {
  display: flex;
  flex-direction: column;
}

.back-button {
  margin: 0;
  background-color: rgb(80, 80, 80);
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0rem;
  text-align: center;
  padding: 1rem;
}

.charts {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid darkgray;
}

.chart {
  height: min-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 0.5rem;
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.rules {
  line-height: 2rem;
  font-size: 1.2rem;
}

@media (min-width: 900px) {
  .header {
    font-size: 1.5rem;
  }
  .round-info {
    font-size: 2rem;
  }
  .button {
    font-size: 2rem;
  }
  .die {
    font-size: 4rem;
  }

  .settings {
    flex-direction: column;
    justify-content: center;
  }

  .settings-top {
    text-align: center;
  }

  .settings-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .charts {
    border: none;
  }
}

.restart {
  cursor: pointer;
}

@keyframes restart {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.restart-active {
  color: #79bfed;
  animation: restart 2s ease-in-out;
  display: inline-block;
  animation-direction: reverse;
}
