* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(120, 120, 120);
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: whitesmoke;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.blue {
  color: #79bfed;
  transition: 0.2s;
}

.right-container {
  display: flex;
  text-align: right;
  align-items: flex-start;
}

.gear-icon {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin: 0;
  z-index: 1000;
}

.round {
  padding-right: 1rem;
}

.round-info {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.dice-container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 1rem;
}

.die {
  height: calc(100vw / 3);
  width: calc(100vw / 3);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgb(100, 100, 100);
  transition: 0.2s;
  perspective: 1;
  backface-visibility: hidden;
}

.hilo {
  background-color: rgb(120, 120, 120);
  color: whitesmoke;
}

.locked {
  background-color: #79bfed;
  color: whitesmoke;
}

.hilo-locked {
  color: rgb(120, 120, 120);
  background-color: #79bfed;
}

.perm-locked {
  filter: opacity(0.5);
  transform: scale(0.9);
}

.button {
  border: none;
  background-color: white;
  color: rgb(100, 100, 100);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  margin: 1rem;
  width: calc(100vw / 2.5);
}

.button:active {
  transform: scale(0.95);
  filter: brightness(0.95);
}

.button:disabled {
  filter: opacity(0.5);
  transition: 0.2s;
}

@media (min-width: 420px) {
  .dice-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .die {
    height: calc(100vw / 8);
    width: calc(100vw / 8);
  }
}

@media (min-width: 900px) {
  .header {
    font-size: 1.5rem;
  }
  .round-info {
    font-size: 2rem;
  }
  .button {
    font-size: 2rem;
  }
  .die {
    font-size: 4rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.roll {
  animation: rotate 0.3s ease-in-out;
  will-change: transform;
}

@keyframes click {
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.click {
  animation: click 0.2s ease-in-out;
}

.settings {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: whitesmoke;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.charts {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  border-bottom: 1px solid darkgray;
}

.chart {
  height: min-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 0.5rem;
  font-size: 1.2rem;
}

.rules {
  line-height: 2rem;
  font-size: 1.2rem;
}
